{{ 'announcement.css' | asset_url | stylesheet_tag }}

<section>
  <div class="announcement-bar">
    <div></div>
    <div>welcome to our store</div>
    <div></div>
  </div>
</section>

<style>
  .announcement-bar{
     background: {{ section.settings.background }};
     color:{{ section.settings.text-color }}
  }
</style>

{% schema %}
{
  "name": "announcement bar",
  "settings": [{}]
}
{% endschema %}
