<section>announcement</section>

{% schema %}
 {
   "name":"announcement bar",
   "settings": [
    {
      "type":"checkbox",
      "id":"show-announce",
      "label":"Show announcement",
      "default":true
    },
   ],
   "presets": [
    {
      "name": "announcement bar",
    }
   ]
}
{% endschema %}