{%if section.settings['show-announce'] %}
   <section>announce bar</section>
{% endif %}


{% schema %}
 {
   "name":"announcement bar",
   "settings": [
    {
      "type":"checkbox",
      "id":"show-announce",
      "label":"Show announcement",
      "default":true
    },
   ],
   "presets": []
}
{% endschema %}