<section>announcement</section>

{% schema %}
 {
   "name":"announcement bar",
   "settings": [],
   "presets": [
    {
      "name": "announcement bar",
      "settings": [
        {
          "type":"checkbox",
          "id":"show-announce",
          "label":"Show announcement",
          "default":true
        },
      ]
    }
   ]
}
{% endschema %}