{{ 'counter.css' | asset_url | stylesheet_tag }}
<script src="{{ 'counter.js' | asset_url }}" defer="defer"></script>

<section>
  <div class="counter-container">
    <div class="overlay">
      <img src="{{ 'chair-banner-2.jpeg' | asset_url }}" width="1000" height="300">
      <div class="opacity"></div>
    </div>
    <div class="promotion">
      <h2>Christmas Sale</h2>
      <p>Offer Ends Soon</p>
    </div>
    <countdown-timer>
      <div class="counter" data-counter="{{section.settings.offer-end-date }}">
        <div class="hh-mm day">
          <span>15</span>
          <span>Days</span>
        </div>
        <div class="hh-mm hr">
          <span>12</span>
          <span>Hr</span>
        </div>
        <div class="hh-mm min">
          <span>10</span>
          <span>Min</span>
        </div>
        <div class="hh-mm sec">
          <span>8</span>
          <span>Sec</span>
        </div>
      </div>
    </countdown-timer>
  </div>
</section>
{% schema %}
{
  "name": "counter",
  "settings": [
    {
      "type": "text",
      "id": "offer-end-date",
      "default": "2024-12-25",
      "label": "Offer Ends Date",
      "info": "Enter the date in YYYY-MM-DD format"
    }
  ]
}
{% endschema %}
