<section class="more-info"> 
    <div class="more-info-wrapper">
      {% if section.settings.text2 != blank %}
         <h1>Resolution strayer pack</h1>
      {% else %}
         <h1> {{ section.settings.text2 }}</h1>
      {% endif %}
    </div>
</section>

<style>
   .more-info{
      background: {{ section.settings.background }};
      color:{{ section.settings.text-color }};
      position: relative;
      display: flex;
   }
   .more-info-wrapper h1{
     font-size: 50px;
   }
   .more-info-wrapper button{
      padding: 10px 20px;
      background: black;
   }
</style>

{% schema %}
{
  "name": "More-info",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#F4F4F4"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#000000"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "default text"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "Text2",
      "default": "default text"
    }
  ],
  "presets": [
  
  ]
}
{% endschema %}