.h2 {
    font-size: 30px;
} 

h1,
h2,
h3,
h4 {
    font-family: "Prata, serif";
    margin: 0;
}

p {
    font-family: "Poppins, sans-serif";
    font-size: 16px;
    margin: 0;
    margin-bottom: 4px;
}

.h0 {
    font-size: 14px;
}

body {}


.offer-slider{
    overflow: hidden;
    height: 100px;
    position: relative;
}

.offer-slide-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    background-color: #65794d;
}

.offer-title {
    width: 100%;
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
    animation-duration: 4s;
}
.offer-slide-container.rte .offer-title{
    animation-name: slideright;
}
.offer-title h3 {
    font-size: 38px;
    min-width: 450px;
    color: #000;
    margin: 0 20px;
}

.offer-wrapper{
    position: relative;   
}

@keyframes slide {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes slideright {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

.image-comparison-slider-container{
    position: relative;
    padding: 46px;
}
.image-comparison-slider-container .image-wrapper{
    width: 100%;
    position: relative;
    display: grid;
    height: 100%;
    overflow: hidden;
    max-height: 500px;
}

.image-wrapper .image{
    grid-area: 1 / -1;
}

.image-wrapper .image img{
    color: #0000;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.image-wrapper .image.sec img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    color: #0000;
    max-width: 100%;
}