.heading{
    margin-bottom: 12px;
}

.collection-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin:20px;
}

.title-container{
    margin-bottom: 10px;
    
}

.title-container h2{
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
}

.categories{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 2px;
    padding-bottom: 10px;
}

.categories span{
    display: inline-block;
    border-bottom: 1px solid #545353;
    width: max-content;
    padding: 4px 16px;
    border-radius: 25px;
    cursor: pointer;
}

.categories span.active{
    border: 1px solid #806b5e;
    background-color: #958073;
    color: #ffffff;
}

slider-component {
  
    position: relative;
   display: inline-block;
    overflow: hidden;
    max-width: 1200px;
    width: 100%;
}

.nav-buttons{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 0;
}

.slider + .nav-buttons{
    opacity: 1;
}

.nav-buttons .next-button,
.nav-buttons .prev-button{
   background-color: #ffffff;
   border: 1px solid slategray;
   width: 34px;
   height: 34px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 14px;
    row-gap: 14px;
}
.grid-item{
   grid-column: span 4;
}

.product-grid{
    padding: 20px 0;
    width: 100%;
}


.product-grid.grid-3-col .grid-item{
    grid-column: span 3;
}

@media (min-width: 1024) {
    .product-grid.grid-2-col .grid-item{
        grid-column: span 2;
    }

    .product-grid.grid-3-col .grid-item{
        grid-column: span 3;
    }
    
    .product-grid.grid-4-col .grid-item{
        grid-column: span 4;
    }
    
}

.product-grid.grid-6-col .grid-item{
    grid-column: span 6;
}


ul{
    margin: 0;
    padding: 0;
}

li{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.add-to-cart{
  width: 100%;
  height: 24px;
}

.add-to-cart button{
    padding: 8px 12px;
    width: 100%;
    outline: none;
    border: none;
    color: #545353;
}


.slider{
  position: relative;
  display: flex;
  align-items: center;
  gap:10px;
}

.slider li{
    min-width: 250px;
    height: 100%;
}