.heading{
    margin-bottom: 12px;
}

.collection-wrapper{
    display: block;
    position: relative;
    margin:0 20px;
}

.title-container{
    margin-bottom: 12px;
}

.title-container h2{
    font-size: 24px;
}

slider-component {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.nav-buttons{
    position: absolute;
    top: 0;
    right: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 14px;
    row-gap: 14px;
}
.grid-item{
   grid-column: span 4;
}


.product-grid.grid-3-col .grid-item{
    grid-column: span 3;
}

@media (min-width: 1024) {
    .product-grid.grid-2-col .grid-item{
        grid-column: span 2;
    }

    .product-grid.grid-3-col .grid-item{
        grid-column: span 3;
    }
    
    .product-grid.grid-4-col .grid-item{
        grid-column: span 4;
    }
    
}

.product-grid.grid-6-col .grid-item{
    grid-column: span 6;
}


ul{
    margin: 0;
    padding: 0;
}

li{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.add-to-cart{
  width: 100%;
  height: 24px;
}

.add-to-cart button{
    padding: 8px 12px;
    width: 100%;
    outline: none;
    border: 1px solid #e9f1cb;
    background-color: #dbded0;
    color: #000;
}


.slider{
  position: relative;
  display: flex;
  align-items: center;
  gap:10px;
}

.slider li{
    min-width: 250px;
    height: 100%;
}