.rich-text-container{
    padding: 20px;
}

.rich-text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rich-text-wrapper.align-left{
   justify-content: flex-start;
}

.rich-text-wrapper.align-center{
    justify-content: center;
}

.rich-text-wrapper.align-right{
    justify-content: flex-end;
}

.rich-text-wrapper > *{
    margin-top: 10px;
}

.rich-button{
    padding: 8px 12px;
    background-color: #dbded0;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    border: 1px solid #edf4d4;
}